@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* shared styles */
body {
    font-family: "Quicksand";
}

.header, .curriculum, .footer-content{
    max-width: 1140px;
    margin: 0 auto;
}

.main, .footer{
    background-image: url('../assets/bg.png');
    max-width: 1440px;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #111111;
    text-align: center;
    margin: 100px;
}


/* navbar design */


.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-title {
    font-size: 2rem;
    font-weight: bold;
    color: #111111;
}

.nav-icon {
    display: flex;
    gap: 10px;
}

.lists ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 700;
    font-size: 20px;


}

.lists ul li a {
    text-decoration: none;
}

.home {
    color: #FEA301;
}

.about {
    color: #01ACFD;
}

.facilities {
    color: #05D4DF;
}

.admission {
    color: #5D58EF;
}

.nav-btn {
    border: none;
    border-radius: 12px;
    background-color: rgb(254, 163, 1);
    padding: 10px 50px;
}

.nav-btn a {
    color: white;
    text-decoration: none;

}

/* banner design */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.banner-title {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

.banner-description {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0;
}

.btn-primary {
    border: none;
    border-radius: 12px;
    background-color: #111111;
    padding: 10px 50px;
   
}

.btn-primary a {
    color: white;
    text-decoration: none;
}

/* Curriculum Section design */

.card {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;


}


.curriculum-image {
    text-align: center;
}

.card-1,
.card-2,
.card-3 {
    padding: 3rem 1.5rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 12px;
}

.card-content {
    text-align: center;
}

.card-title {
    color: #111111;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 20px 20px;
}

.card-description {
    color: rgb(128, 128, 128);
}

.card-1 {
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-2 {
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-3 {
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-btn-1 {
    background-color: white;
    border: none;
    color: rgb(100, 200, 255);
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1rem;
}

.card-btn-2 {
    background-color: white;
    border: none;
    color: rgb(240, 170, 0);
    font-weight: bold;
    font-size: 1rem;

}

.card-btn-3 {
    background-color: white;
    border: none;
    color: rgb(135, 0, 255);
    font-weight: bold;
    font-size: 1rem;

}

.arrow {
    text-align: center;
}

.btn-direction {
    margin-top: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(254, 163, 1);
    color: white;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
}


/* story part design */

.our-story {
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px auto;
    max-width: 1140px;
    gap: 20px;
    
   

}
.container-1{
    width: 540px;
    height: 630px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 8px;
    
}

.container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
   
}
.image-radius{
    border-radius: 16px;
}
.story-description{
    padding: 20px 20px;
}
.border{
   width: 290px;
   height: 300px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
   
}
.story-title{
    font-weight: bold;
    font-size: 15px;
    padding: 0 20px;
}
.btn-sky{
    background-color: rgb(60, 216, 232);
    width: 174px;
    height: 48px;
    border-radius: 48px;
    color: white;
    border: none;
    position: relative;
    top: -30px;
    left: 30px;
    
}
.btn-green{
    background-color: rgb(149, 178, 38);
    width: 174px;
    height: 48px;
    border-radius: 48px;
    color: white;
    border: none;
    position: relative;
    top: -30px;
    left: 30px;
}
.btn-blue{
    background-color: rgb(93, 88, 240);
    width: 174px;
    height: 48px;
    border-radius: 48px;
    color: white;
    border: none;
    position: relative;
    top: -30px;
    left: 30px;
}
.btn-secondary{
    border: none;
    border-radius: 12px;
    background-color: #111111;
    padding: 10px 50px;
    color: white;
}
.center{
    text-align: center;
}

/* footer design */
.footer{
    background-color: #01ACFD;
   
}

.footer-content{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    margin: 0 auto;
}
.footer-about h3{
    font-weight: 500;
    font-size: 26px;
   
}
.footer-about li{
    list-style: none;
    padding-bottom: 10px;
}
.footer-about li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    
}
.footer-icon{
    max-width: 400px;
    color: white;
}
.school{
    font-weight: bold;
    font-size: 42px;
    max-width: 206px;
    height: 60px;
    padding-bottom: 20px;
}
.logo-name{
    display: flex;
    gap: 20px;
}







/* Responsive */

@media screen and (max-width:576px) {
    .hide {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        width: 80%;
        margin: 0 auto;
    }

    .banner img {
        max-width: 320px;

    }

    .card {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .container-2{
        grid-template-columns: repeat(2,1fr);
        width: 90%;
        margin: 0 auto;
        padding-right: 18px;
       
    }
    
    .border, .image-radius{
        max-width: 172px;
        margin: 0 auto;
       
    }
    .btn-blue, .btn-green, .btn-sky{
        max-width: 103px;
    }
    .footer-content{
        flex-direction: column;
        max-width: 173px;
        
    }
    .logo-name{
        gap: 5px;
    }
    .logo-name img{
        height: 80px;
    }
    .school{
        font-size: 20px;
    }
}